<mat-toolbar color="primary">
    <mat-toolbar-row class="toolbar-row-top">
        recipeApp
        <br>
        <mat-icon>restaurant</mat-icon>
        <span class="middle-span-content"></span>
    </mat-toolbar-row>

    <mat-toolbar-row class = "toolbar-row-bottom">
        <a class="selection" routerLink="/home">
            <mat-icon>home</mat-icon>
        </a>
        <a class="selection" routerLink="/recipes">Recipes</a>
        <a class="selection" routerLink="/create-recipe-form">Create Recipe</a>
        <span class="middle-span-content"></span>
        <a>Login</a>
        <mat-icon>face_4</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>
